* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #F93D66, #6D47D9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
}

p {
    margin: 0 0 20px 0;
}

.close {
    background: none;
    color: white;
    border: 0;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    .item {
        flex: auto;
        width: 200px;
        position: relative;
        .item-overlay {
            position: absolute;
            top: 0;
            /*
            width: 100%;
            height: 100%;
            */
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
    .open {
      display: grid;
    }
    figure {
        background: white;
        width: 700px;
        padding: 20px;
    }
    img {
        width: 100%;
    }
}